<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgnuacm.wx.mapper.StudentMapper">

    <resultMap type="com.hgnuacm.wx.domain.Student" id="StudentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="academy"    column="academy"    />
        <result property="level"    column="level"    />
        <result property="major"    column="major"    />
        <result property="grade"    column="grade"    />
        <result property="classroom"    column="classroom"    />
        <result property="studentId"    column="student_id"    />
        <result property="nation"    column="nation"    />
        <result property="school"    column="school"    />
        <result property="idCard"    column="id_card"    />
        <result property="enterTime"    column="enter_time"    />
        <result property="graduateTime"    column="graduate_time"    />
    </resultMap>

    <sql id="selectStudentVo">
        select id, name, academy, level, major, grade, classroom, student_id, nation, school, id_card, enter_time, graduate_time from t_student
    </sql>

    <select id="selectStudentList" parameterType="com.hgnuacm.wx.domain.Student" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
        </where>
    </select>

    <select id="queryByIdCard" parameterType="String" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        where id_card = #{idCard}
    </select>


</mapper>